@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-cream text-slate-900;
  }

  * {
    @apply transition-colors duration-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}